/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #bebebe;
  --orange: black;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
}
.fb{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 4px 1px 0 #000;
  text-shadow: -1px -1px 0 rgb(16, 114, 159), 1px -1px 0 black, -1px 1px 0 black, 4px 1px 0 rgb(16, 114, 159);
  outline-style: solid;
  background-color: rgb(187, 202, 209);
  outline-width: 8px;
  outline-color: rgb(16, 114, 159);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

nav{
  outline-style: solid;
  outline-width: 2px;
  outline-color: whitesmoke;
  background-color: rgb(118, 100, 100);
}


.allEnterprises{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: black;
}
.allEnterprises:hover{
  color: rgb(46, 77, 131);
}
.Enterprises{
  font-family: 'Courier New', Courier, monospace;
}

.newEnterprise{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: black;
}
.newEnterprise:hover{
  color: rgb(46, 77, 131);
}
.Enterprise{
  font-family: 'Courier New', Courier, monospace;
}

.userName{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: black;
  text-shadow: .5px .5px blanchedalmond;

}
.userName:hover{
  color: rgb(46, 77, 131);
}

.welcome{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: black;
}


.logOut{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: black;
}
.logOut:hover{
  color: rgb(46, 77, 131);
}

.timeOut{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: white;
  outline-width: 4px;
  outline-style:groove;
  outline-color: skyblue;
  cursor:help;
}
.createEnt{
  background-color: rgb(118, 100, 100);
  outline-offset: 6px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #000;
}
#sub{
  font-family: 'Courier New', Courier, monospace;
  color: black;
  margin-inline: 25.5%;
  outline-offset: -6px;
  outline-style: groove;
  outline-width: 2px;
  border-radius: 10px;
}
.entFields{
  font-family: 'Courier New', Courier, monospace;
  outline-style: solid;
  /* outline-offset: 4px;
  outline-color: black; */
  background-color: white;
  margin-right: 34.2%;
}
.entLabels{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-left: 2%; 
  /* background-color: #615954;
  outline-style:groove;
  outline-offset: 2px;
  margin-right: 5%; */
}
.companyWrapWrap{
  background-color: #615954;
  outline-offset: 4px;
  outline-color: black;
  outline-style: solid;
  
}
.companyWrap{
  background-color: #968c84;
  border-radius: 4px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -px;
}
.delete{
  color: maroon;
  outline-width: 1px;
  outline-color: #000;
  outline-style: solid;
}
.details{
  color:olive;
  outline-width: 1px;
  outline-color: #000;
  outline-style: solid;
}
.companyName{
  /* background-color:; */
  align-items: center;
}